Repository JeanPhilipLalumiere/MCGT: changes, and which pre-commit hooks are due for each by the changed paths.
All: guard-no-jupyterlab-in-runtime, guard-pip-constraint

.pre-commit-config.yaml:

# Pre-commit config normalisée (MCGT)
# Docs: https://pre-commit.com
repos:
  - repo: local
    hooks:
      - id: assets-budgets
        name: assets-budgets
        entry: python3
        args: ["tools/scan_assets_budget.py"]
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push, manual]

      - id: gitleaks-protect
        name: gitleaks protect (skip si non installé)
        entry: bash
        args: ["-lc", "command -v gitleaks >/dev/null || exit 0; gitleaks protect --staged --no-banner --redact"]
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: guard-placeholders
        name: guard placeholders
        entry: bash
        args: ["-lc", "tools/guard_fail_on_placeholders.sh"]
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: guard-no-jupyterlab-in-runtime
        name: "guard: jupyterlab must stay in dev"
        entry: bash
        args:
          - -lc
          - |
            grep -q "^jupyterlab" requirements.txt \
              && { echo "jupyterlab doit rester dans requirements-dev.txt"; exit 1; } \
              || exit 0
        language: system
        files: ^requirements\.txt$
        stages: [pre-commit]

      - id: guard-pip-constraint
        name: "guard: pip installs must use constraints (env ou inline)"
        entry: bash
        args:
          - -lc
          - |
            files=$(git diff --cached --name-only); fail=0;
            for f in $files; do
              test -f "$f" || continue
              if grep -qE "pip +install +-r +requirements\.txt" "$f"; then
                if ! grep -q "PIP_CONSTRAINT" "$f"; then
                  echo "::error file=$f::ajoute PIP_CONSTRAINT=constraints/security-pins.txt (ou exporte PIP_CONSTRAINT dans l env)"; fail=1;
                fi
              fi
            done
            exit $fail
        language: system
        files: ^(.*\.(sh|bash|zsh|ps1|py|md|yml|yaml)|Makefile)$
        stages: [pre-commit, pre-push]

Release v2.7.0: Full English translation and MCMC results table
  CHANGELOG.md
  README.md
  manuscript/main.tex
  mcgt/__init__.py
Due: guard-pip-constraint

Release v2.7.0: Full English translation and MCMC results table (PDF update)
  manuscript/main.pdf
Due: none

Fix: adjusted abstract acronym formatting for academic standards
  manuscript/main.pdf
  manuscript/main.tex
Due: none

Bump v2.7.1: Add full MCMC sampling infrastructure and publication corner plots
  .gitignore
  CHANGELOG.md
  README.md
  manuscript/main.tex
  mcgt/__init__.py
  output/mcgt_corner_plot.pdf
  output/mcgt_corner_plot.png
  plot_corner.py
  run_mcmc.py
Due: guard-pip-constraint

Bump v2.7.2: Embed MCMC corner plot in manuscript and recompile PDF
  CHANGELOG.md
  README.md
  manuscript/main.pdf
  manuscript/main.tex
  mcgt/__init__.py
Due: guard-pip-constraint

Update v2.7.2: Highlight MCMC results (H_0 = 73.00) in the Abstract
  manuscript/main.pdf
  manuscript/main.tex
Due: none

Bump v3.0.0: Major release - Full RSD integration, resolving H_0 and S_8 tensions
  CHANGELOG.md
  README.md
  assets/zz-data/10_structure_growth/10_rsd_data.csv
  manuscript/main.pdf
  manuscript/main.tex
  mcgt/__init__.py
  output/mcgt_corner_plot.pdf
  output/mcgt_corner_plot.png
  run_mcmc.py
  scripts/10_structure_growth/10_rsd_likelihood.py
Due: guard-pip-constraint

Release v3.1.0: Introduce Psi-CDM, add AIC/BIC criteria (Delta BIC = -129), and JWST predictions
  README.md
  manuscript/main.tex
  output/mcgt_corner_plot.pdf
  output/mcgt_corner_plot.png
  output/mcgt_corner_plot_wcdm_test.pdf
  output/mcgt_corner_plot_wcdm_test.png
  output/mcgt_predictions_z0_to_z20.csv
  output/psicdm_corner_plot_test.pdf
  output/psicdm_corner_plot_test.png
  output/psicdm_predictions_z0_to_z20.csv
  plot_corner.py
  reproduce_paper_results.sh
  requirements.txt
  run_mcmc.py
  scripts/export_predictions.py
Due: guard-no-jupyterlab-in-runtime, guard-pip-constraint

Update README.md
  README.md
Due: guard-pip-constraint

Update README.md (#76)
  README.md
Due: guard-pip-constraint

Release v3.1.0: Finalize Psi-CDM manuscript, add AIC/BIC penalization, and update metadata
  manuscript/main.pdf
  manuscript/main.tex
Due: none

Release v3.1.0: Official introduction of Ψ-Time Metric Gravity (ΨTMG) framework
  CHANGELOG.md
  README.md
  manuscript/02_fig_ns_calibration.png
  manuscript/07_fig_bao_hubble.png
  manuscript/09_fig_w0_wa_contours.png
  manuscript/12_fig_cmb_residuals.png
  manuscript/main.pdf
  manuscript/main.tex
  mcgt/__init__.py
  output/mcgt_corner_plot.pdf
  output/mcgt_corner_plot.png
  output/mcgt_corner_plot_wcdm_test.pdf
  output/mcgt_corner_plot_wcdm_test.png
  output/mcgt_predictions_z0_to_z20.csv
  output/psicdm_corner_plot_test.pdf
  output/psicdm_corner_plot_test.png
  output/ptmg_corner_plot.pdf
  output/ptmg_corner_plot.png
  output/ptmg_predictions_z0_to_z20.csv
  plot_corner.py
  reproduce_paper_results.sh
  run_mcmc.py
  scripts/export_predictions.py
  scripts/generate_manuscript_figures_batch3.py
Due: guard-pip-constraint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: guard-pip-constraint

v3.1.0 plotting refresh: align scripts and outputs with final ΨTMG statistics
  output/ptmg_bao_hubble.pdf
  output/ptmg_bao_hubble.png
  output/ptmg_bbn_abundances.pdf
  output/ptmg_bbn_abundances.png
  output/ptmg_cmb_residuals.pdf
  output/ptmg_cmb_residuals.png
  output/ptmg_corner_plot.pdf
  output/ptmg_corner_plot.png
  output/ptmg_eos_evolution.pdf
  output/ptmg_eos_evolution.png
  output/ptmg_fsigma8_fit.pdf
  output/ptmg_fsigma8_fit.png
  output/ptmg_hz_evolution.pdf
  output/ptmg_hz_evolution.png
  output/ptmg_predictions_z0_to_z20.csv
  output/ptmg_sound_horizon_rs.pdf
  output/ptmg_sound_horizon_rs.png
  output/ptmg_tensions_summary.pdf
  output/ptmg_tensions_summary.png
  output/ptmg_w0_wa_contours.pdf
  output/ptmg_w0_wa_contours.png
  reproduce_paper_results.sh
  run_mcmc.py
  scripts/export_predictions.py
  scripts/generate_manuscript_figures_batch1.py
  scripts/generate_manuscript_figures_batch3.py
Due: guard-pip-constraint

v3.1.0 manuscript sync: finalize ΨTMG statistics and regenerate main.pdf
  manuscript/main.pdf
  manuscript/main.tex
Due: none

Fix: Resolved LaTeX text/figure float overlap on page 21
  manuscript/main.pdf
  manuscript/main.tex
Due: none

Fix: Resolved Matplotlib layout overlap at the bottom of 13_fig_tensions_summary.png and recompiled PDF
  manuscript/13_fig_tensions_summary.png
  manuscript/main.pdf
  output/ptmg_tensions_summary.pdf
  output/ptmg_tensions_summary.png
  scripts/generate_manuscript_figures_batch1.py
Due: guard-pip-constraint

Fix: Forced manual bottom margin (0.35) and increased figure height to resolve Matplotlib overlap
  manuscript/13_fig_tensions_summary.png
  manuscript/main.pdf
  output/ptmg_eos_evolution.pdf
  output/ptmg_fsigma8_fit.pdf
  output/ptmg_hz_evolution.pdf
  output/ptmg_tensions_summary.pdf
  output/ptmg_tensions_summary.png
  scripts/generate_manuscript_figures_batch1.py
Due: guard-pip-constraint

Tweak: raise tensions-summary stats block and reduce bottom margin spacing
  manuscript/13_fig_tensions_summary.png
  manuscript/main.pdf
  output/ptmg_eos_evolution.pdf
  output/ptmg_fsigma8_fit.pdf
  output/ptmg_hz_evolution.pdf
  output/ptmg_tensions_summary.pdf
  output/ptmg_tensions_summary.png
  scripts/generate_manuscript_figures_batch1.py
Due: guard-pip-constraint

Fix: Addressed reviewer-level inconsistencies (captions, Fig 14 MAP coordinates, terminology, and stat definitions)
  manuscript/10_fig_01_iso_p95_maps.png
  manuscript/main.pdf
  manuscript/main.tex
  scripts/10_global_scan/10_fig_01_iso_p95_maps.py
  scripts/10_mcmc_convergence/10_fig_01_iso_p95_maps.py
Due: guard-pip-constraint

Fix: Harmonized H_0 numerical reporting (median vs MAP) and enforced strict MCGT/ΨTMG nomenclature in Conclusion.
  manuscript/main.pdf
  manuscript/main.tex
  output/ptmg_corner_plot.pdf
  output/ptmg_corner_plot.png
  plot_corner.py
Due: guard-pip-constraint
