Repository JeanPhilipLalumiere/MCGT: changes, and which pre-commit hooks are due for each by the changed paths.
All: guard-no-jupyterlab-in-runtime, guard-pip-constraint

.pre-commit-config.yaml:

# Pre-commit config normalisée (MCGT)
# Docs: https://pre-commit.com
repos:
  - repo: local
    hooks:
      - id: assets-budgets
        name: assets-budgets
        entry: python3
        args: ["tools/scan_assets_budget.py"]
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push, manual]

      - id: gitleaks-protect
        name: gitleaks protect (skip si non installé)
        entry: bash
        args: ["-lc", "command -v gitleaks >/dev/null || exit 0; gitleaks protect --staged --no-banner --redact"]
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: guard-placeholders
        name: guard placeholders
        entry: bash
        args: ["-lc", "tools/guard_fail_on_placeholders.sh"]
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: guard-no-jupyterlab-in-runtime
        name: "guard: jupyterlab must stay in dev"
        entry: bash
        args:
          - -lc
          - |
            grep -q "^jupyterlab" requirements.txt \
              && { echo "jupyterlab doit rester dans requirements-dev.txt"; exit 1; } \
              || exit 0
        language: system
        files: ^requirements\.txt$
        stages: [pre-commit]

      - id: guard-pip-constraint
        name: "guard: pip installs must use constraints (env ou inline)"
        entry: bash
        args:
          - -lc
          - |
            files=$(git diff --cached --name-only); fail=0;
            for f in $files; do
              test -f "$f" || continue
              if grep -qE "pip +install +-r +requirements\.txt" "$f"; then
                if ! grep -q "PIP_CONSTRAINT" "$f"; then
                  echo "::error file=$f::ajoute PIP_CONSTRAINT=constraints/security-pins.txt (ou exporte PIP_CONSTRAINT dans l env)"; fail=1;
                fi
              fi
            done
            exit $fail
        language: system
        files: ^(.*\.(sh|bash|zsh|ps1|py|md|yml|yaml)|Makefile)$
        stages: [pre-commit, pre-push]

release: v2.5.1 - finalize english structure and manuscript update
  .zenodo.json
  pyproject.toml
Due: none

docs: update version metadata to v2.5.1
  CHANGELOG.md
  CITATION.cff
  README.md
  manuscript/main.tex
Due: guard-pip-constraint

chore(release): bump to v2.5.2 to force Zenodo archival trigger
  .zenodo.json
  CITATION.cff
  README.md
  manuscript/main.tex
  pyproject.toml
Due: guard-pip-constraint

release: v2.5.3 - final archival trigger
  .zenodo.json
  CITATION.cff
  manuscript/main.tex
  pyproject.toml
Due: none

chore(release): update manifest signatures & bump to v2.5.4
  .zenodo.json
  CITATION.cff
  assets/zz-manifests/manifest_master.json
  manuscript/main.tex
  pyproject.toml
Due: none

fix(ci): update workflow paths to match new english structure
  Makefile
Due: guard-pip-constraint

fix(ci): relax manifest validation strictness for CI green light
  assets/zz-manifests/diag_consistency.py
Due: guard-pip-constraint

chore(ci): update manifest hashes for tools/ scripts/ after refactor
  assets/zz-manifests/manifest_master.json
Due: none

fix(ci): hard reset manifest & fix potential syntax errors
  assets/zz-manifests/manifest_master.json
Due: none

fix(code): resolve undefined variables in ch04 & relax flake8 rules
  .flake8
  scripts/04_expansion_supernovae/04_fig_01_potential.py
  scripts/04_expansion_supernovae/04_fig_03_invariants.py
Due: guard-pip-constraint

fix(tests): update imports to match new english script structure
  assets/zz-manifests/manifest_master.json
  tools/generate_manifest_from_repo.py
Due: guard-pip-constraint

ci: allow linting failures due to numbered script directories
  .github/workflows/ci-accel.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci.yml
Due: guard-pip-constraint

ci: force success on manifest validation to ensure green badge
  assets/zz-manifests/diag_consistency.py
Due: guard-pip-constraint

ci: neutralize consistency tests to force green build
  tests/test_manifest.py
  tests/test_schemas.py
  tools/yaml_check.sh
Due: guard-pip-constraint

Final release v2.5.6: Publication-ready figures and analysis
  .zenodo.json
  CITATION.cff
  assets/zz-figures/07_bao_geometry/07_fig_02_residuals.png
  assets/zz-figures/10_global_scan/10_fig_01_iso_p95_maps.png
  assets/zz-figures/11_lss_s8_tension/11_fig_01_power_comparison.png
  environment.yml
  manuscript/main.tex
  pyproject.toml
  scripts/07_bao_geometry/07_fig_02_residuals.py
  scripts/10_mcmc_convergence/10_fig_01_iso_p95_maps.py
  scripts/11_lss_s8_tension/11_fig_01_power_comparison.py
Due: guard-pip-constraint

Release v2.5.7: Zenodo metadata update
  .zenodo.json
  CITATION.cff
  manuscript/main.tex
  pyproject.toml
Due: none

Release v2.5.4: 'The Great Reconciliation' - Final Manuscript & Figures
  .zenodo.json
  README.md
  manuscript/00_fig_concept_schema.png
  manuscript/01_fig_numerical_stability.png
  manuscript/01_fig_sentinel_flowchart.png
  manuscript/02_fig_ns_calibration.png
  manuscript/03_fig_phase_space.png
  manuscript/04_fig_hubble_parameter.png
  manuscript/05_fig_bbn_abundances.png
  manuscript/06_fig_growth_factor.png
  manuscript/07_fig_02_residuals.png
  manuscript/07_fig_bao_hubble.png
  manuscript/08_fig_sound_horizon_rs.png
  manuscript/09_fig_eos_evolution.png
  manuscript/09_fig_w0_wa_contours.png
  manuscript/10_fig_01_iso_p95_maps.png
  manuscript/11_fig_01_power_comparison.png
  manuscript/12_fig_cmb_residuals.png
  manuscript/13_fig_tensions_summary.png
  manuscript/main.aux
  manuscript/main.pdf
  manuscript/main.tex
  manuscript/main.toc
  requirements.txt
  scripts/generate_manuscript_figures_batch1.py
  scripts/generate_manuscript_figures_batch2.py
  scripts/generate_manuscript_figures_batch3.py
Due: guard-no-jupyterlab-in-runtime, guard-pip-constraint

Meta: Standardisation de l'identité auteur (Jean-Philip Lalumière)
  .gitignore
  CITATION.cff
  manuscript/main.tex
  tools/phase3_bootstrap_package.sh
Due: guard-pip-constraint
