Repository JeanPhilipLalumiere/MCGT: changes, and which pre-commit hooks are due for each by the changed paths.
All: guard-no-jupyterlab-in-runtime, guard-pip-constraint

guard-no-jupyterlab-in-runtime:
  name: 'guard: jupyterlab must stay in dev'
  entry: bash
  args:
  - -lc
  - "grep -q \"^jupyterlab\" requirements.txt \\\n  && { echo \"jupyterlab doit rester dans requirements-dev.txt\"; exit 1; } \\\n  || exit 0\n"
  language: system
  stages:
  - pre-commit

guard-pip-constraint:
  name: 'guard: pip installs must use constraints (env ou inline)'
  entry: bash
  args:
  - -lc
  ...

fix(ci): eliminate ruff deprecations and finalize integrity checksum v2.1.0
  main.tex
  pyproject.toml
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
  zz-manifests/manifest_publication.json
Due: none

fix(ci): strict integrity format, latex syntax repair, and yaml alignment v2.1.1
  main.tex
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
  zz-manifests/manifest_publication.json
Due: none

fix(ci): set gitattributes for binary integrity and align CI workflows v2.1.2
  .gitattributes
  main.tex
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
  zz-manifests/manifest_publication.json
Due: none

fix(ci): align repo structure with tools/check_integrity requirements v2.1.3
  .zenodo.json
  CITATION.cff
  main.tex
  zz-manifests/manifest_master.json
  zz-manifests/manifest_publication.json
Due: none

fix(ci): revert LaTeX path escaping and enhance integrity script robustness v2.1.4
  .zenodo.json
  CITATION.cff
  main.tex
  tools/check_integrity.py
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
  zz-manifests/manifest_publication.json
Due: guard-pip-constraint

fix(ci): restore latex paths, enhance integrity logs, and release v2.1.4
  tools/check_integrity.py
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
Due: guard-pip-constraint

fix(ci): final yaml syntax, path alignment, and pdf build simplification v2.1.5
  main.tex
  tools/check_integrity.py
  zz-manifests/manifest_master.json
Due: guard-pip-constraint

fix(ci): deduplicate manifest, fix missing yaml script, and update pdf action v2.1.6
  .github/workflows/ci-accel.yml
  .zenodo.json
  CITATION.cff
  tools/yaml_check.sh
  zz-manifests/manifest_master.json.sha256sum
Due: guard-pip-constraint

fix(ci): robust pdf build, sync pyproject version, and final lint v2.1.7
  .github/workflows/ci-accel.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
Due: guard-pip-constraint

fix(ci): pin numpy < 2.1, fix tectonic action, and bump v2.1.8
  .github/workflows/build-publish.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
Due: guard-pip-constraint

fix(ci): global permissions, pin numpy in requirements, and v2.1.9
  .github/workflows/build-publish.yml
  .github/workflows/ci-accel.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
  requirements.txt
Due: guard-no-jupyterlab-in-runtime, guard-pip-constraint

fix(ci): update test references to 10_fig names and release v2.2.0
  .github/workflows/build-publish.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
  tests/test_fig02_columns.py
  zz-manifests/manifest_master.json
Due: guard-pip-constraint

fix(ci): fix module discovery in tests, release permissions, and bump v2.2.1
  .github/workflows/build-publish.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
Due: guard-pip-constraint

fix(ci): fix mcgt import, global permissions, and bump v2.2.2
  .github/workflows/build-publish.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
  zz-manifests/manifest_master.json
Due: guard-pip-constraint

fix(ci): safe bash variables, force pdf capture, and bump v2.2.3
  .github/workflows/build-publish.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
Due: guard-pip-constraint

fix(ci): safe pythonpath, robust pdf capture, and bump v2.2.4
  .zenodo.json
  CITATION.cff
  pyproject.toml
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
Due: none

chore: final certified production release v2.2.5
  .zenodo.json
  CITATION.cff
  pyproject.toml
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
Due: none

fix(ci): purge empty assets and bump v2.2.6 for final publication
  .github/workflows/build-publish.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
  tools/check_integrity.py
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
Due: guard-pip-constraint

fix(ci): aggressive empty asset purge and bump v2.2.7
  .github/workflows/build-publish.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
  tools/check_integrity.py
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
Due: guard-pip-constraint

fix(ci): exclude empty sbom assets and bump v2.2.8
  .github/workflows/build-publish.yml
  .zenodo.json
  CITATION.cff
  pyproject.toml
  tools/check_integrity.py
  zz-manifests/manifest_master.json
  zz-manifests/manifest_master.json.sha256sum
Due: guard-pip-constraint

Path conditions:
  guard-no-jupyterlab-in-runtime: any of: ^requirements\.txt$
  guard-pip-constraint: any of: ^(.*\.(sh|bash|zsh|ps1|py|md|yml|yaml)|Makefile)$
