Repository JeanPhilipLalumiere/MCGT: changes, and which pre-commit hooks are due for each by the changed paths.
All: guard-no-jupyterlab-in-runtime, guard-pip-constraint

guard-no-jupyterlab-in-runtime:
  name: 'guard: jupyterlab must stay in dev'
  entry: bash
  args:
  - -lc
  - "grep -q \"^jupyterlab\" requirements.txt \\\n  && { echo \"jupyterlab doit rester dans requirements-dev.txt\"; exit 1; } \\\n  || exit 0\n"
  language: system
  stages:
  - pre-commit

guard-pip-constraint:
  name: 'guard: pip installs must use constraints (env ou inline)'
  entry: bash
  args:
  - -lc
  ...

chore(meta): mention Git tag for Zenodo v0.3.0 snapshot
  zz-zenodo/zenodo_description_v0.3.0.txt
Due: none

chore(release): add Zenodo v0.3.0 tarball and checksum
  zz-zenodo/zenodo_tarballs_v0.3.x.txt
Due: none

chore(attic): move selected CH09/CH10 BACKSTAGE assets to attic (Phase2)
  attic/zz-data/chapter09/09_comparison_milestones.flagged.csv
  attic/zz-data/chapter09/09_phase_diff.csv
  attic/zz-data/chapter10/10_mc_results.circ.agg.csv
  attic/zz-scripts/chapter09/check_p95_methods.py
  attic/zz-scripts/chapter09/flag_jalons.py
  attic/zz-scripts/chapter10/diag_phi_fpeak.py
  attic/zz-scripts/chapter10/inspect_topk_residuals.py
  attic/zz-scripts/chapter10/qc_wrapped_vs_unwrapped.py
Due: guard-pip-constraint

chore(attic): sync manifest after moving CH09/CH10 BACKSTAGE assets
  tools/mcgt_step75_fix_manifest_attic_phase2.py
  zz-manifests/manifest_master.json
Due: guard-pip-constraint

chore(cleanup): freeze CH09 metrics & manifest (Phase2 post-Step22/Step84)
  zz-data/chapter09/09_metrics_phase.json
  zz-manifests/manifest_master.json
Due: none

chore(manifests): resync manifest_publication after Phase2 CH09/CH10
  zz-manifests/manifest_publication.json
Due: none

ci(readme-guard): fix awk regex for orphan badge check
  .github/workflows/readme-guard.yml
Due: guard-pip-constraint

ci(manifest-guard): update diag_consistency CLI for publication manifest
  .github/workflows/manifest-guard.yml
Due: guard-pip-constraint

chore(deps): relax requests pin to satisfy security constraints
  requirements.txt
Due: guard-no-jupyterlab-in-runtime

chore(deps): align jupyterlab pin with security constraints
  requirements.txt
Due: guard-no-jupyterlab-in-runtime

ci(guard): tolerate git check-ignore non-zero exit when collecting tracked+ignored files
  scripts/guard_ignore_and_sdist.sh
Due: guard-pip-constraint

ci: fix semantic-pr workflow types list
  .github/workflows/semantic-pr.yml
Due: guard-pip-constraint

ci: relax manifest-guard fail-on for publication manifest
  .github/workflows/manifest-guard.yml
Due: guard-pip-constraint

ci: instrument manifest-guard diag output
  .github/workflows/manifest-guard.yml
Due: guard-pip-constraint

manifest: resync 10_mc_results.csv metadata
  zz-manifests/manifest_publication.json
Due: none

chapter10: sync 10_mc_results.csv with publication manifest (CI canonical)
  zz-manifests/manifest_publication.json
Due: none

Update README.md
  README.md
Due: guard-pip-constraint

chore(cleanup): préparer la suppression des assets delete-safe
  01-introduction-applications/CHAPTER01_GUIDE.txt
  02-validation-chronologique/CHAPTER02_GUIDE.txt
  03-stabilite-fR/CHAPTER03_GUIDE.txt
  04-invariants-adimensionnels/CHAPTER04_GUIDE.txt
  05-nucleosynthese-primordiale/CHAPTER05_GUIDE.txt
  06-rayonnement-cmb/CHAPTER06_GUIDE.txt
  07-perturbations-scalaires/CHAPTER07_GUIDE.txt
  09-phase-ondes-gravitationnelles/CHAPTER09_GUIDE.txt
  10-monte-carlo-global-8d/CHAPTER10_GUIDE.txt
  ASSETS_EXTRA_ALL.tsv
  CH01_ASSETS_EXTRA.tsv
  CH02_ASSETS_EXTRA.tsv
  CH03_ASSETS_EXTRA.tsv
  CH04_ASSETS_EXTRA.tsv
  CH05_ASSETS_EXTRA.tsv
  CH06_ASSETS_EXTRA.tsv
  CH07_ASSETS_EXTRA.tsv
  CH08_ASSETS_EXTRA.tsv
  CH09_ASSETS_EXTRA.tsv
  CH10_ASSETS_EXTRA.tsv
  CHAPTER_ASSETS_FULL.tsv
  CHAPTER_GUIDE_PAYLOAD.tsv
  CLEANUP_ASSETS_DELETE_CANDIDATES.tsv
  CLEANUP_ASSETS_DELETE_DRYRUN.sh
  CLEANUP_ASSETS_DELETE_REAL.sh
  TODO_CLEANUP_ASSETS.md
  _tools/show_chapter_manifests.sh
  _tools/show_core_docs.sh
  zz-configuration/mcgt-global-config.ini
  zz-manifests/chapters/chapter_manifest_01.json
  zz-manifests/chapters/chapter_manifest_02.json
  zz-manifests/chapters/chapter_manifest_03.json
  zz-manifests/chapters/chapter_manifest_04.json
  zz-manifests/chapters/chapter_manifest_05.json
  zz-manifests/chapters/chapter_manifest_06.json
  zz-manifests/chapters/chapter_manifest_07.json
  zz-manifests/chapters/chapter_manifest_08.json
  zz-manifests/chapters/chapter_manifest_09.json
  zz-manifests/chapters/chapter_manifest_10.json
Due: guard-pip-constraint

chore(cleanup): supprimer backups, bytecode et requirements dupliqués
  zz-scripts/chapter01/requirements.txt
  zz-scripts/chapter02/requirements.txt
  zz-scripts/chapter03/requirements.txt
  zz-scripts/chapter04/requirements.txt
  zz-scripts/chapter05/requirements.txt
  zz-scripts/chapter06/requirements.txt
  zz-scripts/chapter08/requirements.txt
  zz-scripts/chapter09/requirements.txt
  zz-scripts/chapter10/generate_data_chapter10.py.broken.20251021T121011
Due: none

chore(manifests): resynchroniser manifest_master après cleanup et mise à jour des guides
  zz-manifests/manifest_master.json
Due: none

chore(manifests): resynchroniser manifest_publication avec HEAD
  zz-manifests/manifest_publication.json
Due: none

chore(manifests): retirer les requirements de chapitres devenus obsolètes
  zz-manifests/manifest_master.json
Due: none

chore(manifests): resynchroniser pyproject.toml dans master et publication
  zz-manifests/manifest_master.json
  zz-manifests/manifest_publication.json
Due: none

build(pyproject): aligner la config de zz-tools 0.3.14
  pyproject.toml
Due: none

chore(manifests): retirer le notebook Sympy obsolète du master
  attic/zz-scripts/chapter02/extract_sympy_FG.ipynb
  zz-manifests/manifest_master.json
Due: none

chore(ch03,manifests): retirer placeholder.csv et l’archiver dans attic
  attic/zz-data/chapter03/placeholder.csv
  zz-manifests/manifest_master.json
Due: none

chore(ch04,manifests): vérifier et resynchroniser les invariants adimensionnels
  zz-manifests/manifest_master.json
  zz-manifests/manifest_publication.json
Due: none

chore(ch05,manifests): vérifier et resynchroniser la nucléosynthèse primordiale
  zz-manifests/manifest_master.json
  zz-manifests/manifest_publication.json
Due: none

Path conditions:
  guard-no-jupyterlab-in-runtime: any of: ^requirements\.txt$
  guard-pip-constraint: any of: ^(.*\.(sh|bash|zsh|ps1|py|md|yml|yaml)|Makefile)$
