Repository JeanPhilipLalumiere/MCGT: changes, and which pre-commit hooks are due for each by the changed paths.
All: gh-workflows-sc2129-guard, gh-workflows-fix-run-name-quotes, gh-workflows-audit, forbid-bom-crlf-tabs-workflows, forbid-bom-crlf-tabs-dotgithub, forbid-bom-crlf-tabs-repo, manifests-json-guard

.pre-commit-config.yaml:

# Canonical pre-commit for MCGT
minimum_pre_commit_version: "3.5.0"

default_language_version:
  python: python3

# Ne scanne pas archives/logs et backups
exclude: |
  (^\.ci-archive/)|
  (^\.ci-logs/)|
  (\.bak($|\.))

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        files: ^(tools/|zz-scripts/).*\.(sh|bash)$

  - repo: local
    hooks:
      - id: gh-workflows-sc2129-guard
        name: "Guard SC2129 in GitHub workflows (run: |)"
        entry: tools/check_sc2129_in_workflows.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'


  - repo: https://github.com/scop/pre-commit-shfmt
    # Tag compatible avec shfmt 3.7.0; "pre-commit autoupdate" fera le bump si besoin
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ["-w","-i","2","-ci"]
        files: "^(tools/|zz-scripts/).+\\.(sh|bash)$"

  - repo: local
    hooks:
      - id: gh-workflows-fix-run-name-quotes
        name: Fix unquoted run-name with GitHub expressions
        entry: tools/fix_run_name_quotes.sh
        language: system
        files: ^.github/workflows/.*.ya?ml
        pass_filenames: true
      - id: gh-workflows-audit
        language: system
        files: ^.github/workflows/.*.ya?ml
        pass_filenames: true
        entry: tools/audit_workflows.sh
        name: Audit GitHub workflow hygiene
      - id: gh-workflows-audit
        name: Audit GitHub workflow hygiene
        entry: tools/audit_workflows.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true

  - repo: local
    hooks:
      - id: no-plusx-nonscripts
        name: Forbid +x on non-script files
        entry: tools/no_plusx_nonscripts.sh
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: forbid-bom-crlf-tabs-workflows
        name: Forbid BOM/CRLF/Tabs in workflows (auto-fix)
        entry: tools/forbid_bom_crlf_tabs.sh
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
        pass_filenames: true
        args: ['--fix']

  - repo: local
    hooks:
      - id: forbid-bom-crlf-tabs-dotgithub
        name: Forbid BOM/CRLF/Tabs under .github (auto-fix)
        entry: tools/forbid_bom_crlf_tabs.sh
        language: system
        files: '^\.github/.*\.(ya?ml|md)$'
        pass_filenames: true
        args: ['--fix']

  - repo: local
    hooks:
      - id: forbid-bom-crlf-tabs-repo
        name: Forbid BOM/CRLF/Tabs repo-wide (YAML/MD, auto-fix)
        entry: tools/forbid_bom_crlf_tabs.sh
        language: system
        files: '^.+\.(ya?ml|md)$'
        pass_filenames: true
        args: ['--fix']
  - repo: local
    hooks:
      - id: manifests-json-guard
        name: manifests-json-guard
        entry: bash tools/ci_step5_validate_manifests_json.sh
        language: system
        pass_filenames: false
        files: ^(zz-manifests/|zz-figures/)

ci(finalize): ignore .ci-out, fix exec bits, silence SC2034; finalize H0 unification
  .ci-out/_bundle_all_ciout.txt
  .ci-out/apply_fig_renames.sh
  .ci-out/ci_budgets_report.txt
  .ci-out/ci_missing_setup_python.txt
  .ci-out/ci_patch_plan.txt
  .ci-out/figures_all.tsv
  .ci-out/figures_bad_names.tsv
  .ci-out/figures_bad_names.txt
  .ci-out/figures_rename_plan.tsv
  .ci-out/frontmatter_samples.txt
  .ci-out/make_vars.tsv
  .ci-out/makefiles.list.txt
  .ci-out/makefiles.python_var.txt
  .ci-out/manifests_json_guard_report.txt
  .ci-out/md_frontmatter_paths.txt
  .ci-out/params/params-inventory.tsv
  .ci-out/pyproject_presence.txt
  .ci-out/python_consts.tsv
  .ci-out/python_consts_modules.txt
  .ci-out/scan_done.txt
  .ci-out/scan_start.txt
  .ci-out/workflows.list.txt
  mcgt/constants.py
  tools/ci_step10_python_constants_guard.sh
  tools/ci_step10a_constants_conflicts_report.sh
  tools/ci_step7_normalize_labels_ch9.sh
  tools/ci_step9_parameters_registry_guard.sh
  zz-configuration/parameters_registry.json
  zz-configuration/python_constants_registry.json
  zz-schemas/meta_schema.json
  zz-scripts/chapter03/generate_data_chapter03.py
  zz-scripts/chapter06/generate_pdot_plateau_vs_z.py
  zz-scripts/chapter08/utils/cosmo.py
Due: none

ci(finalize): ignore .ci-out, fix exec bits, silence SC2034; finalize H0 unification
  .ci-out/_bundle_all_ciout.txt
  .ci-out/apply_fig_renames.sh
  .ci-out/ci_budgets_report.txt
  .ci-out/ci_missing_setup_python.txt
  .ci-out/ci_patch_plan.txt
  .ci-out/figures_all.tsv
  .ci-out/figures_bad_names.tsv
  .ci-out/figures_bad_names.txt
  .ci-out/figures_rename_plan.tsv
  .ci-out/frontmatter_samples.txt
  .ci-out/make_vars.tsv
  .ci-out/makefiles.list.txt
  .ci-out/makefiles.python_var.txt
  .ci-out/manifests_json_guard_report.txt
  .ci-out/md_frontmatter_paths.txt
  .ci-out/params/params-inventory.tsv
  .ci-out/pyproject_presence.txt
  .ci-out/python_consts.tsv
  .ci-out/python_consts_modules.txt
  .ci-out/scan_done.txt
  .ci-out/scan_start.txt
  .ci-out/workflows.list.txt
  mcgt/constants.py
  tools/ci_step10_python_constants_guard.sh
  tools/ci_step10a_constants_conflicts_report.sh
  tools/ci_step7_normalize_labels_ch9.sh
  tools/ci_step9_parameters_registry_guard.sh
  zz-configuration/python_constants_registry.json
  zz-schemas/meta_schema.json
  zz-scripts/chapter03/generate_data_chapter03.py
  zz-scripts/chapter06/generate_pdot_plateau_vs_z.py
  zz-scripts/chapter08/utils/cosmo.py
Due: none

feat(constants): add canonical c & G; generate c/G candidates report
  mcgt/constants.py
Due: none

hotfix(constants): c/G canoniques; ignorer .ci-out; chmod +x .ci-out/*.sh
  .gitignore
  mcgt/constants.py
  mcgt/phase.py
  tools/apply_figure_renames_and_fix_refs.py
  tools/ci_step10b_unify_cG_apply.sh
  zz-scripts/chapter09/plot_fig01_phase_overlay.py
  zz-scripts/chapter09/plot_fig04_absdphi_milestones_vs_f.py
Due: none

ci: reset pre-commit; exclude .ci-out; export-ignore; fix exec bits
  tools/precommit_full_reset_v2.sh
Due: none

chore(pre-commit): autoupdate
  .pre-commit-config.yaml
  zz-configuration/python_constants_registry.json
Due: forbid-bom-crlf-tabs-repo

revert(pre-commit): restore previous config
  .pre-commit-config.yaml
Due: forbid-bom-crlf-tabs-repo

chore(pre-commit): add restore script with KEEP_OPEN guard
  tools/restore_precommit_from_latest_backup.sh
Due: none

ci(pre-commit): rewrite valid config; exclude .ci-out; export-ignore
  .github/workflows/meta-guard.yml
  .pre-commit-config.yaml
  tools/apply_ciout_guards.sh
  tools/fix_precommit_config_now.sh
Due: gh-workflows-sc2129-guard, gh-workflows-fix-run-name-quotes, gh-workflows-audit, forbid-bom-crlf-tabs-workflows, forbid-bom-crlf-tabs-dotgithub, forbid-bom-crlf-tabs-repo

fix(constants/schemas/tests): __future__ order; numeric c/G; constants object; xfail diag_consistency
  mcgt/constants.py
  zz-configuration/python_constants_registry.json
  zz-tests/test_schemas.py
Due: none
